<!DOCTYPE html>
<html lang="es">
<head>
    <title>Landing Page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="shortcut icon" href="https://png.pngtree.com/png-clipart/20220714/original/pngtree-phoenix-bird-logo-with-flaming-fire-body-for-game-team-png-image_8357995.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div id="logo">        
            <img class="logo" src="https://png.pngtree.com/png-clipart/20220714/original/pngtree-phoenix-bird-logo-with-flaming-fire-body-for-game-team-png-image_8357995.png" alt="logo">
            <div class="logo-text">Proyecto Fénix</div>
        </div>
        <h2><i>Lo que buscas lo tenemos</i></h2>
        <nav class="nav-bar">
            <div class="nav-option"><a href="./../home/index.html">Entrar a la pagina</a></div>
            <div class="nav-option"><a href="">Opiniones</a></div>
        </nav>
    </header>

    <section style="position: fixed;
    top: 10%;">
        <h1 style="text-align: center; width: 100vw;">Bienvenido a TeLoVendo</h1>
    </section>


    <footer id="landingpage-footer">
        <section class="sponsor">
            <a class="marca" href="https://www.acer.com/cl-es/"><img src="https://images.acer.com/is/content/acer/acer-4" alt="acer"></a>
            <a class="marca" href="https://www.asus.com/cl/store/"><img src="https://dlcdnimgs.asus.com/images/logo/logo-002.svg" alt="asus"></a>
            <a class="marca" href="https://www.hp.com/cl-es/shop/"><img src="https://d1pc5hp1w29h96.cloudfront.net/logo/default/LogoHPblue_1.svg" alt="" style="height: 50px;"></a>
        </section>
        <p>Copyright &copy; 2019-2020 -
        Desarrollos de Landing Pages Inc.</p>
    </footer>
</body>
</html>