<header class="header">
    <div id="logo">        
        <img class="logo" src="https://png.pngtree.com/png-clipart/20220714/original/pngtree-phoenix-bird-logo-with-flaming-fire-body-for-game-team-png-image_8357995.png" alt="logo">
        <div class="logo-text">Proyecto Fénix</div>
    </div>
    <h2><i>Lo que buscas lo tenemos</i></h2>
    <nav class="nav-bar">
        {%if user%}
            <div class="nav-option"><a href="">Hola, {{user.username}}</a></div>
            <div class="nav-option"><a href="logout">Desconectarse</a></div>
        {%else%}
            <div class="nav-option"><a href="/accounts/login">Ingresar</a></div>
        {%endif%}
    </nav>
</header>