{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="customer-content">
    <h1 class="display-4 customer-content-title">Usuarios Registrados</h1>
    <ul>
        {% for customer in customers %}
            <li>
                <strong>{{ customer.name }} {{ customer.last_name }}</strong><br>
                Email: {{ customer.email }}<br>
                Address: {{ customer.address }}<br>
                Phone: {{ customer.phone_number }}<br>
            </li>
            <hr>
        {% endfor %}
    </ul>
</div>
{% endblock %}
