<footer id="landingpage-footer">
    <section class="sponsor">
        <a class="marca" href="https://www.acer.com/cl-es/"><img src="https://images.acer.com/is/content/acer/acer-4" alt="acer"></a>
        <a class="marca" href="https://www.asus.com/cl/store/"><img src="https://dlcdnimgs.asus.com/images/logo/logo-002.svg" alt="asus"></a>
        <a class="marca" href="https://www.hp.com/cl-es/shop/"><img src="https://d1pc5hp1w29h96.cloudfront.net/logo/default/LogoHPblue_1.svg" alt="" style="height: 50px;"></a>
    </section>
    <p>Copyright &copy; 2024 DanipaBernales</p>
</footer>